.students-heading {
    margin : 30px;
    display: flex;
    justify-content: center;
}

.students-heading-content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    color: #000000;
}

.students-main {
    display: flex;
    justify-content: center;
}

.students-list-container{
    width : 600px;
    height: 500px;
}

.students-list-items{
    display: flex;
    width: 98%;
    margin : 5px;
    height: 60px;
    background: #F7F7F7;
    border-radius: 10px;
}

.students-name{
    display: flex;
    font-weight: 500;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.students-update{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.students-update-icons{
    padding: 10px;
    font-size: 1.1em;
}

.students-status-false{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.students-status-true{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.fas{
    cursor: pointer;
}