.signup-body{
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.signup-container{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.signup-head{
    width: 100%;
    text-align: center;
    height: 65px;
    margin: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
}

.signup-main{
    width: 100%;
    text-align: center;
    margin: 10px;
    height: 440px;
    background: #1FC7A8; 
    padding: 25px;
}

.input{
    width: 75%;
    height: 11%;
    margin: 10px;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
}

.btn {
    width: 200px;
    height: 53px;
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin: 53px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    color: #1FC7A8;
}

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    ...
 } */

 /* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

 /* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

 /* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

@media screen and (max-width : 576px){
    .btn{
        width : 140px;
        font-size: 21px;
        height: 42px;
    }
    .signup-head{
        font-size: 40px;
    }
}